footer{
    text-align: center;
    font-weight: bold;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: red;
 }

footer>br{
    clear: both;
}

.footer-subText{
    color: white;
}